### IntelliJ IDEA ###
.idea
migrations
migrations/*
debug.log
*.ipr
*.pyc
__pycache__
#log
*.log
test
note.txt
*.csv
*.xlsx
*.html
.egg
dist/*
dist
build/*
build
*logs
venv
venv27/
*.iws
*.iml
.mvn
./*/*log
*.zip
*.rar
*.7z
/data_process/user_install_app_analysis/app_list_data.json
